/* VARIABLES */
:root {
  --decrement-bg-color: #BF360C;
  --increment-bg-color: #2E7D32;
  --reset-bg-color: #0277BD;
}

/* STYLES */
.counterBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
}
.counter {
  font-size: 10rem;
}

.counterButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.incrementButton, .decrementButton, .resetButton {
  color: white;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  border: none;
  font-size: 2rem;
}

.decrementButton {
  background-color: var(--decrement-bg-color);
}

.incrementButton {
  background-color: var(--increment-bg-color);
}

.resetButton {
  background-color: var(--reset-bg-color);
}